html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.layout-root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;  
  background-color: #0F0F28;
}

.topbar {
  position: relative;       
  width: 100%;
}

.page-content {
  flex: 1;                  
  width: 100%;
  padding: 0;
  background-color: #fff;
}

.footer {
  position: relative;       
  width: 100%;
}
