.movie-details-page {
  background-color: #141436;
  color: #ffffff;
  font-family: "Segoe UI", sans-serif;
  padding: 40px 24px;
}

.movie-two-columns {
  display: flex;
  gap: 40px;
  align-items: flex-start; 
  flex-wrap: wrap;
}

.movie-left {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.movie-title {
  font-size: 2.8rem;
  color: #ff3d00;
  margin: 0;
}

.movie-title p{
  line-height: 1.8;
  color: #fff;
}

.description h2 {
  color: #ff3d00;
  border-left: 5px solid #ff3d00;
  padding-left: 12px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.description p {
  line-height: 1.8;
  color: #fff;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.book-btn,
.trailer-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.book-btn {
  background-color: #ff3d00;
  color: #fff;
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.book-btn:hover {
  background-color: #6e1b02;;
  color: #fff;
}

.trailer-btn {
  background-color: #ff3d00;
  color: #fff;
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.trailer-btn:hover {
  background-color: #6e1b02;;
  color: #fff;
}

.movie-right {
  flex: 1 1 400px;
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;   
}

.movie-right img {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  object-fit: cover;
}

.trailer-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.trailer-content {
  position: relative;
  width: 90%;
  max-width: 800px;
  background: #000;
  padding: 16px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 2rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 900px) {
  .movie-two-columns {
    flex-direction: column;
    gap: 30px;
  }
  .movie-right img {
    max-width: 100%;
  }
}